<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938056564464-osq1f87ng84lb7cmb3j8h96q610cdr3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938056564464-osq1f87ng84lb7cmb3j8h96q610cdr3n</string>
	<key>API_KEY</key>
	<string>AIzaSyALIPXX1GLG7imIMyVdkNPttITjLddCtN0</string>
	<key>GCM_SENDER_ID</key>
	<string>938056564464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.sogang.cscp2.20171655</string>
	<key>PROJECT_ID</key>
	<string>woojumunjicafe</string>
	<key>STORAGE_BUCKET</key>
	<string>woojumunjicafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938056564464:ios:6d8c1331fd74162fb58c35</string>
	<key>DATABASE_URL</key>
	<string>https://woojumunjicafe.firebaseio.com</string>
</dict>
</plist>